<div class="container w-50 bg-light my-3">
  <div class = "row">
    <div class = col-12>
      <h2>新規登録画面</h2>
    </div>
  </div>

  <div class = "row">
    <div class = "col-8 px-5">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field mb-2">
          <%= f.label :name, "ユーザー名（3文字以上）" %><br />
          <%= f.text_field :name, autofocus: true, class:"w-100" %>
          <!--個別エラーメッセージ-->
          <% if resource.errors.include?(:name) %>
            <p class = "text-danger"><%= resource.errors.full_messages_for(:name).first %>
          <% end %>
        </div>

        <div class="field mb-2">
          <%= f.label :email, "Eメールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-100" %>
          <!--個別エラーメッセージ-->
          <% if resource.errors.include?(:email) %>
            <p class = "text-danger"><%= resource.errors.full_messages_for(:email).first %>
          <% end %>
        </div>

        <div class="field mb-2">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"w-100" %>
          <!--個別エラーメッセージ-->
          <% if resource.errors.include?(:password) %>
            <p class = "text-danger"><%= resource.errors.full_messages_for(:password).first %>
          <% end %>
        </div>

        <div class="field mb-2">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-100" %>
          <!--個別エラーメッセージ-->
          <% if resource.errors.include?(:password_confirmation) %>
            <p class = "text-danger"><%= resource.errors.full_messages_for(:password_confirmation).first %>
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit "登録" %>
        </div>
      <% end %>

      <%- if controller_name != 'sessions' %>
        <p class = "mt-3">登録済みの方は <%= link_to "こちら", new_session_path(resource_name) %> からログイン</p>
      <% end %>
    </div>
    <!--時計アイコン（透過）-->
    <div class = "col-4 position-relative" >
      <%= image_tag asset_path('icon_timer.png', alt: 'icon_timer'), class: "d-inline-block w-100", style: "position: absolute; bottom:0.5rem; right: 4rem; z-index: 0; opacity: 0.2;" %>
    </div>
  </div>
</div>