<div class = "col-md-11 mx-auto">
  <p><strong><%= t("tasks.index.note") %></strong></p>
  <% if my_tasks.blank? %>
    <p class = "text-secondary text-center"><%= t("tasks.index.no_tasks") %></p>
  <% else %>
    <table class = "table table-bordered table-responsive table-hover">
      <tr>
        <th style="width: 5%"></th>
        <th style="width: 85%"><%= t("tasks.index.content") %></th>
        <th style="width: 5%"></th>
        <th style="width: 5%"></th>
      </tr>
      <% my_tasks.each do |task| %>
        <tr style = "height: 75px">
          <td><%= attachment_image_tag task, :icon_image, :fill, 50, 50, resize: "50×50", format: "png" if !(task.icon_image_id == nil) %></td>
          <td><%= task.content %></td>
          <td>
            <%= link_to edit_user_task_path(current_user, task) do %>
              <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i></button>
            <% end %>
          </td>
          <td>
            <%= link_to user_task_path(current_user,task), method: :delete, data: { confirm: t("confirm.delete") } do %>
              <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div