<div class = "container container_for_forms bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-12">
      <h2>タスクの編集</h2>
    </div>
  </div>
  <div class = "row">
    <div class = "col-8">
      <!--ネストしているモデルに対しては、model: [xxx, yyy]と2つ記述する -->
      <%= form_with model:[@user, @task], local: true do |f| %>
        <!--画像変更・削除-->
        <div class = "field mb-2">
          <%= f.label :icon_image, "アイコン画像" %></br>
          <%= f.attachment_field :icon_image %>
          <%= attachment_image_tag @task, :icon_image, :fill, 50, 50, resize: "120×120", format: "png", class: "m-1" if !(@task.icon_image_id == nil) %>
          <p class = mb-1><%= link_to "設定されている画像を削除する", user_task_destroy_icon_path(@user, @task), method: :delete  if !(@task.icon_image_id == nil) %></p>
        </div>
        <!--内容変更-->
        <div class = "field mb-2">
          <%= f.label :content, "内容" %></br>
          <%= f.text_field :content %>
          <!--個別エラーメッセージ-->
          <% if @task.errors.include?(:content) %>
            <p class = "text-danger"><%= @task.errors.full_messages_for(:content).first %>
          <% end %>
        </div>
        <%= f.submit "保存" %>
      <% end %>
    </div>
  </div>
</div>