<div class = "container container_for_forms bg-light my-2 py-3" style = "min-height: 525px">
  <div class = "row">
    <div class = "col-12">
      <h2><%= t("tasks.edit.heading") %></h2>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
      <!--ネストしているモデルに対しては、model: [xxx, yyy]と2つ記述する -->
      <%= form_with model:[@user, @task], local: true do |f| %>
        <!--画像変更・削除-->
        <div class = "field mb-2">
          <%= f.label :icon_image %></br>
          <%= f.attachment_field :icon_image, class: "w-100" %>
          <%= attachment_image_tag @task, :icon_image, :fill, 50, 50, resize: "120×120", format: "png", class: "m-1" if !(@task.icon_image_id == nil) %>
          <p class = mb-1><%= link_to t("tasks.edit.initialize"), user_task_destroy_icon_path(@user, @task), method: :delete  if !(@task.icon_image_id == nil) %></p>
        </div>
        <!--内容変更-->
        <div class = "field mb-2">
          <%= f.label :content %><em> (<%= t("limit.maximum_character") % {count: 15} %>)</em></br>
          <%= f.text_field :content %>
          <!--個別エラーメッセージ-->
          <% if @task.errors.include?(:content) %>
            <p class = "text-danger"><%= @task.errors.full_messages_for(:content).first %>
          <% end %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>