<div class = "container bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-12">
      <h2><%= @user.name %> さんの登録タスク一覧</h2>
    </div>
  </div>
  <!--登録ボタン-->
  <div class = "row">
    <div class = "col-3 mx-auto">
      <%= link_to new_user_task_path(current_user) do %>
        <p class = "font-monospace h5 text-center"><i class="fas fa-plus-circle"></i>タスクを登録する</p>
      <% end %>
    </div>
  </div>
  <!--タスク一覧表-->
  <div class = "row">
    <div class = "col-11 mx-auto">
      <% if @my_tasks.blank? %>
        <p class = "text-secondary text-center">登録しているタスクはありません</p>
      <% else %>
        <table class = "table table-bordered table-hover">
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 85%">タスク内容</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
          </tr>
          <% @my_tasks.each do |task| %>
            <tr style = "height: 75px">
              <td><%= attachment_image_tag task, :icon_image, :fill, 50, 50, resize: "50×50", format: "png" if !(task.icon_image_id == nil) %></td>
              <td><%= task.content %></td>
              <td>
                <%= link_to edit_user_task_path(current_user, task) do %>
                  <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i></button>
                <% end %>
              </td>
              <td>
                <%= link_to user_task_path(current_user,task), method: :delete, data: { confirm: "削除しますか？" } do %>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
