<div class = "container bg-light my-2 py-3" style = "min-height: 525px">
  <div class = "row">
    <div class = "col-12">
      <h2><%= t("tasks.index.heading") % {name: @user.name} %></h2>
    </div>
  </div>
  <!--登録ボタン-->
  <div class = "row">
    <div class = "col-md-6 mx-auto">
      <%= link_to new_user_task_path(current_user) do %>
        <p class = "font-monospace h5 text-center"><i class="fas fa-plus-circle"></i><%= t("users.show.add_tasks") %></p>
      <% end %>
    </div>
  </div>
  <!--登録タスク検索-->
  <div class = "row mb-2">
    <div class = "col-md-11 mx-auto">
      <%= form_with url: user_tasks_path(@user), method: :get, remote: true do |f| %>
        <%= f.text_field :keyword %>
        <%= f.submit t("tasks.index.search_button") %>
      <% end %>
    </div>
  </div>
  <!--タスク一覧表-->
  <div class = "row tasks_index">
    <%= render 'tasks/tasks_index', my_tasks: @my_tasks %>
  </div>
</div>
