<div class = "container bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-12">
      <h2><%= @user.name %> さんのマイページ</h2>
    </div>
  </div>
  <div class = "row">
    <!--左側-->
    <div class = "col-4">
      <!--プロフィール-->
      <div class = "border border-dark my-2 py-1">
        <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, resize: "120×120", fallback: "no_image.jpg", size:'120x120', class:"d-block mx-auto mb-1" %>
        <table class = "table mb-1" style = "font-size: 14px">
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>前回ログイン日</th>
            <td><%= @user.last_sign_in_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </table>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-info d-block mx-auto"><i class="fas fa-user-cog"></i>アカウント情報変更</button>
        <% end %>
      </div>
      <!--タスク登録・タスク編集画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to new_user_task_path(current_user) do %>
          <p style = "font-size: 18px"><i class="fas fa-plus-circle"></i>タスクを登録する</p>
        <% end %>
        <%= link_to user_tasks_path(current_user) do %>
          <p style = "font-size: 18px"><i class="fas fa-list-alt"></i>登録タスク一覧へ</p>
        <% end %>
      </div>
      <!--タスク計測画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to new_user_working_task_path(current_user)  do %>
          <button type="button" class="btn btn-warning btn-lg px-5" style = "border: thick double; border-color: saddlebrown; color: saddlebrown; background-color: #ffcc00">
            <i class="fas fa-stopwatch" style = "font-size: 2rem;"></i>
            <p class = "h6">タスク時間を計測する</p>
            </button>
        <% end %>
      </div>
      <!--記録済みタスクを調べる画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to user_search_path(current_user)  do %>
          <button type="button" class="btn btn-success btn-lg px-5" style = "border: thick double; border-color: darkgreen; color: darkgreen; background-color: springgreen">
            <i class="far fa-chart-bar" style = "font-size: 2rem;"></i>
            <p class = "h6">記録済みタスクを調べる</p>
            </button>
        <% end %>
      </div>
    </div>
    <!--右側-->
    <div class = "col-8">
      <!--計測中のタスク-->
      <div class = "my-2 py-1">
        <h4 class = "border-bottom border-1 border-info">計測中のタスク</h4>
          <div class = "row">
            <div class = "col-11 mx-auto my-2">
              <% if @working_tasks_measuring.blank? %>
                <p class = "text-secondary text-center">現在計測中のタスクはありません</p>
              <% else %>
                <ul>
                  <% @working_tasks_measuring.each do |working_task| %>
                    <%= link_to user_set_new_working_task_path(@user, working_task.task_id) do %>
                      <li><%= "#{working_task.task.content}　開始時刻: #{working_task.started_at.strftime('%H:%M:%S')}" %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
      </div>
      <!--今日のタスク-->
      <div class = "my-2 py-1">
        <h4 class = "border-bottom border-1 border-info">今日のタスク</h4>
        <div class = "row">
          <div class = "col-6">
            <!--グラフ-->
            <% if @todays_working_tasks.blank? %>
              <%= image_tag asset_path("no_doughnut_table.png", alt: "gray-doughnut"), class: "d-inline-block", style: "width: 100%;" %>
            <% else %>
              <p class = "text-center mb-0" style = "font-size: 14px">＜注意＞単位は『分』です</p>
              <canvas id="myDoughnutChart" width="400" height="400"></canvas>
              <script>draw_graph();</script>
            <% end %>
          </div>
          <div class = "col-5">
            <% if @todays_working_tasks.blank? %>
              <p class = "text-secondary text-center" style = "margin: 3rem 0rem">今日のタスクはありません</p>
            <% else %>
              <!-- 1. task_idごとにまとめられたタスクを１つずつ表示し、-->
              <% @todays_working_tasks_grouped.each do |working_task| %>
                <table class = "table table-borderless" style = "font-size: 14px">
                  <tr style = "height: 0.3rem">
                    <td style = "width: 50%"><%= working_task.task.content %></td>
                    <td style = "width: 50%">
                      <!--2. 4つ目のセルに「タスクごとの経過時間のみを抽出し、合計したもの」をxx:yy:zzという形式で表示-->
                      <%= Time.at(@todays_working_tasks.where(task_id: working_task.task_id).pluck(:working_time).sum).strftime('%X') %>
                    </td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!--カレンダー-->
      <div class = "my-2 py-1">
        <p class = "mb-1" style = "font-size: 13px">▼日付をクリックするとその日のタスク一覧に飛べます</p>
        <%= link_to user_working_tasks_path(@user, Time.current) do %>
          <p class = "mb-1" style = "font-size: 16px"><i class="fas fa-clipboard-list"></i>今日のタスク一覧を見る</p>
        <% end %>
        <%= link_to new_user_event_path(@user) do %>
          <p class = "mb-1" style = "font-size: 16px"><i class="fas fa-wrench"></i>カレンダーにタグ付けをする</p>
        <% end %>
        <%= month_calendar do |date| %>
          <%= link_to user_working_tasks_path(@user, date), class: "text-dark", style: "text-decoration: none;" do %>
            <div class = "position-relative calendar">
              <!--その日のタスクの合計時間に応じて背景色を変える-->
              <% case @my_working_tasks.where(being_measured?: false, started_at: date.all_day).pluck(:working_time).sum %>
                <% when 0...300 %>
                  <!--5分未満-->
                  <p class = "task_amount_0"><%= date.day %></p>
                <% when 300...3600 %>
                  <!--5分～1時間-->
                  <p class = "task_amount_1"><%= date.day %></p>
                <% when 3600...7200 %>
                  <!--1時間～2時間-->
                  <p class = "task_amount_2"><%= date.day %></p>
                <% when 7200...10800 %>
                  <!--2時間～3時間-->
                  <p class = "task_amount_3"><%= date.day %></p>
                <% when 10800...14400 %>
                  <!--3時間～4時間-->
                  <p class = "task_amount_4"><%= date.day %></p>
                <% when 14400...nil %>
                  <!--4時間以上-->
                  <p class = "task_amount_5"><%= date.day %></p>
              <% end %>
              <!--その日に何かタグがついていればマークを表示させる-->
              <% @my_events.each do |event| %>
                <!--登録しているタグを１つ１つ見ていき、その日が登録タグの日付範囲内にあれば、処理を止め、マークを表示-->
                <% if date.between?(event.start_date, event.end_date) %>
                  <div class = "tag_present_mark position-absolute" style = "top: 150%; right: 50%;"></div>
                  <% break %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <!--カレンダーについているアイコン等の説明-->
        <div class = "calendar-explanation my-1">
          <div class = "explanation">
            <p class = "d-inline" style = "font-size: 16px">little</p>
            <div class = "d-inline">
              <div class = "d-inline-block task_amount_0" style = "width: 7%; height: 20px;"></div>
              <div class = "d-inline-block task_amount_1" style = "width: 7%; height: 20px;"></div>
              <div class = "d-inline-block task_amount_2" style = "width: 7%; height: 20px;"></div>
              <div class = "d-inline-block task_amount_3" style = "width: 7%; height: 20px;"></div>
              <div class = "d-inline-block task_amount_4" style = "width: 7%; height: 20px;"></div>
              <div class = "d-inline-block task_amount_5" style = "width: 7%; height: 20px;"></div>
            </div>
            <p class = "d-inline" style = "font-size: 16px">much</p>
          </div>
          <div class = "explanation">
            <p class = "d-inline" style = "font-size: 16px"><div class = "tag_present_mark"></div>・・・タグ付けあり</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
