<div class = "container bg-light my-2 py-3" style = "height:800px">
  <div class = "row">
    <div class = "col-12">
      <h2><%= @user.name %> さんのマイページ</h2>
    </div>
  </div>
  <div class = "row">
    <!--左側-->
    <div class = "col-4">
      <!--プロフィール-->
      <div class = "border border-dark my-2 py-1">
        <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, resize: "120×120", fallback: "no_image.jpg", size:'120x120', class:"d-block mx-auto mb-1" %>
        <table class = "table mb-1">
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>前回ログイン日</th>
            <td><%= @user.last_sign_in_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </table>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-info d-block mx-auto"><i class="fas fa-user-cog"></i>アカウント情報変更</button>
        <% end %>
      </div>
      <!--タスク登録・タスク編集画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to user_tasks_path(current_user) do %>
          <p><i class="fas fa-list-alt"></i>登録タスク一覧へ</p>
        <% end %>
        <%= link_to new_user_task_path(current_user) do %>
          <p><i class="fas fa-plus-circle"></i>タスクを登録する</p>
        <% end %>
      </div>
      <!--タスク計測画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to new_user_working_task_path(current_user)  do %>
          <button type="button" class="btn btn-warning btn-lg px-5" style = "border: thick double; border-color: saddlebrown; color: saddlebrown; background-color: #ffcc00">
            <i class="fas fa-stopwatch" style = "font-size: 2rem;"></i>
            <p class = "h6">タスク時間を計測する</p>
            </button>
        <% end %>
      </div>
    </div>
    <!--右側-->
    <div class = "col-8">
      <!--時計機能-->
      <div class = "my-2 py-1">
        <div class = "mx-auto bg-light">
          <div class = "bg-success">
            <h2 class = "text-light">現在時刻</h2>
          </div>
          <p class = "text-center" style="font-size: 23px;" id="RealtimeClockArea"></p>
        </div>
      </div>
      <!--今日のタスク-->
      <div class = "my-2 py-1">
        <h4 class = "border-bottom border-1 border-info">今日のタスク</h4>
      </div>
      <!--最近実行したタスク-->
      <div class = "my-2 py-1">
        <h4 class = "border-bottom border-1 border-info">最近のタスク</h4>
      </div>
    </div>
  </div>
</div>
