<div class = "container bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-12">
      <h2><%= @user.name %> さんのマイページ</h2>
    </div>
  </div>
  <div class = "row">
    <!--左側-->
    <div class = "col-4">
      <!--プロフィール-->
      <div class = "border border-dark my-2 py-1">
        <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, resize: "120×120", fallback: "no_image.jpg", size:'120x120', class:"d-block mx-auto mb-1" %>
        <table class = "table mb-1" style = "font-size: 14px">
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>前回ログイン日</th>
            <td><%= @user.last_sign_in_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </table>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-info d-block mx-auto"><i class="fas fa-user-cog"></i>アカウント情報変更</button>
        <% end %>
      </div>
      <!--タスク登録・タスク編集画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to new_user_task_path(current_user) do %>
          <p style = "font-size: 18px"><i class="fas fa-plus-circle"></i>タスクを登録する</p>
        <% end %>
        <%= link_to user_tasks_path(current_user) do %>
          <p style = "font-size: 18px"><i class="fas fa-list-alt"></i>登録タスク一覧へ</p>
        <% end %>
      </div>
      <!--タスク計測画面へ-->
      <div class = "my-2 py-1 text-center">
        <%= link_to new_user_working_task_path(current_user)  do %>
          <button type="button" class="btn btn-warning btn-lg px-5" style = "border: thick double; border-color: saddlebrown; color: saddlebrown; background-color: #ffcc00">
            <i class="fas fa-stopwatch" style = "font-size: 2rem;"></i>
            <p class = "h6">タスク時間を計測する</p>
            </button>
        <% end %>
      </div>
      <!--記録済みタスク一覧-->
      <div class = "my-2 py-1 text-center">
        <%= link_to user_working_tasks_path(current_user, Date.today)  do %>
          <button type="button" class="btn btn-success btn-lg px-5" style = "border: thick double; border-color: darkgreen; color: darkgreen; background-color: springgreen">
            <i class="fas fa-clipboard-list" style = "font-size: 2rem;"></i>
            <p class = "h6">記録したタスクを見る</p>
            </button>
        <% end %>
      </div>
    </div>
    <!--右側-->
    <div class = "col-8">
      <!--今日のタスク-->
      <div class = "my-2 py-1">
        <h4 class = "border-bottom border-1 border-info">今日のタスク</h4>
        <div class = "row">
          <div class = "col-6">

          </div>
          <div class = "col-5">
            <% if @todays_working_tasks.blank? %>
              <p class = "text-secondary text-center" style = "margin: 6rem 0rem">最近のタスクはありません</p>
            <% else %>
              <!-- 1. task_idごとにまとめられたタスクを１つずつ表示し、-->
              <% @todays_working_tasks_grouped.each do |working_task| %>
                <table class = "table table-borderless" style = "font-size: 14px">
                  <tr style = "height: 75px">
                    <td style = "width: 5%"><%= attachment_image_tag working_task.task, :icon_image, :fill, 30, 30, resize: "30×30", format: "png" if !(working_task.task.icon_image_id == nil) %></td>
                    <td><%= working_task.task.content %></td>
                    <td>
                      <!--2. 4つ目のセルに「タスクごとの経過時間のみを抽出し、合計したもの」をxx:yy:zzという形式で表示-->
                      <%= Time.at(@todays_working_tasks.where(task_id: working_task.task_id).pluck(:working_time).sum).strftime('%X') %>
                    </td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!--計測中のタスク-->
      <div class = "my-2 py-1">
        <h4 class = "border-bottom border-1 border-info">計測中のタスク</h4>
          <div class = "row">
            <div class = "col-11 mx-auto my-2">
              <% if @working_tasks_measuring.blank? %>
                <p class = "text-secondary text-center">現在計測中のタスクはありません</p>
              <% else %>
                <ul>
                  <% @working_tasks_measuring.each do |working_task| %>
                    <%= link_to user_set_new_working_task_path(@user, working_task.task_id) do %>
                      <li><%= "#{working_task.task.content}　開始時刻: #{working_task.started_at.strftime('%H:%M:%S')}" %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
