<div class = "container container_for_forms bg-light my-2 py-3" style = "min-height: 525px">
  <div class = "row">
    <div class = "col-12">
      <h2><%= t("events.edit.heading") %></h2>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
      <!--ネストしているモデルに対しては、model: [xxx, yyy]と2つ記述する -->
      <%= form_with model:[@user, @event], local: true do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class = "field mb-2">
          <%= f.label :name %><em> (<%= t("limit.maximum_character") % {count: 20} %>)</em></br>
          <%= f.text_field :name %>
          <!--個別エラーメッセージ-->
          <% if @event.errors.include?(:name) %>
            <p class = "text-danger"><%= @event.errors.full_messages_for(:name).first %>
          <% end %>
        </div>
        <div class = "field mb-2">
          <%= f.label :start_date %></br>
          <%= f.date_field :start_date %>
          <!--個別エラーメッセージ-->
          <% if @event.errors.include?(:start_date) %>
            <p class = "text-danger"><%= @event.errors.full_messages_for(:start_date).first %>
          <% end %>
        </div>
        <div class = "field mb-2">
          <%= f.label :end_date %></br>
          <%= f.date_field :end_date %>
          <!--個別エラーメッセージ-->
          <% if @event.errors.include?(:end_date) %>
            <p class = "text-danger"><%= @event.errors.full_messages_for(:end_date).first %>
          <% end %>
        </div>
        <!--範囲指定のエラーメッセージ-->
        <p class = "text-danger mb-0"><%= flash[:date_range_error] %></p>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

