<div class = "container w-50 bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-12">
      <h2>カレンダータグ登録</h2>
      <p>開始日と終了日を同じにすることでその日だけにタグを付けられます</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-8">
      <!--ネストしているモデルに対しては、model: [xxx, yyy]と2つ記述する -->
      <%= form_with model:[@user, @event], local: true do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class = "field mb-2">
          <%= f.label :name, "名前" %></br>
          <%= f.text_field :name %>
          <!--個別エラーメッセージ-->
          <% if @event.errors.include?(:name) %>
            <p class = "text-danger"><%= @event.errors.full_messages_for(:name).first %>
          <% end %>
        </div>
        <div class = "field mb-2">
          <%= f.label :start_date, "開始日" %></br>
          <%= f.date_field :start_date, value: Date.current %>
          <!--個別エラーメッセージ-->
          <% if @event.errors.include?(:start_date) %>
            <p class = "text-danger"><%= @event.errors.full_messages_for(:start_date).first %>
          <% end %>
        </div>
        <div class = "field mb-2">
          <%= f.label :end_date, "終了日" %></br>
          <%= f.date_field :end_date, value: Date.current %>
          <!--個別エラーメッセージ-->
          <% if @event.errors.include?(:end_date) %>
            <p class = "text-danger"><%= @event.errors.full_messages_for(:end_date).first %>
          <% end %>
        </div>
        <!--範囲指定のエラーメッセージ-->
        <p class = "text-danger mb-0"><%= flash[:range_error] %></p>
        <%= f.submit "登録" %>
      <% end %>
    </div>
  </div>
  <!--タグ一覧表-->
  <div class = "row mt-3">
    <div class = "col-11 mx-auto">
      <% if @my_events.blank? %>
        <p class = "text-secondary text-center">登録しているタグはありません</p>
      <% else %>
        <table class = "table table-bordered table-hover">
          <tr>
            <th style="width: 35%">タグ名前</th>
            <th style="width: 30%">開始日</th>
            <th style="width: 30%">終了日</th>
            <th style="width: 5%"></th>
          </tr>
          <% @my_events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.start_date.strftime('%Y/%m/%d') %></td>
              <td><%= event.end_date.strftime('%Y/%m/%d') %></td>
              <td>
                <%= link_to edit_user_event_path(@user, event) do %>
                  <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i></button>
                <% end %>
              </td>
              <td>
                <%= link_to user_event_path(@user,event), method: :delete, data: { confirm: "削除しますか？" } do %>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
