<div class = "container bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-md-12">
      <h2><%= t("working_tasks.index.heading") % {date: l(@date) } %></h2>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-11 mx-auto">
      <p class = "d-inline-block"><%= t("working_tasks.index.tag") %>: </p>
      <% if @events.present? %>
        <!--タグの名前だけ取り出し、1つずつ表示（名前が重複しているものは削除-->
        <% @events.pluck(:name).uniq.each do |name| %>
          <p class = "d-inline-block mx-2"><i class="fas fa-tag"></i><%="#{name}"%></p>
        <% end %>
      <% else %>
        <p class = "d-inline-block mx-4"><%= t("working_tasks.index.no_tag") %></p>
      <% end %>
      <div class = "row">
        <div class = "col-md-11 mx-auto">
          <% if @working_tasks.blank? %>
            <p class = "text-secondary text-center my-5"><%= t("working_tasks.index.no_working_tasks") %></p>
          <% else %>
            <p class = "only_for_responsive mb-2" style = "font-size: 14px"><%= t("responsive.scrollable") %></p>
            <table class = "table table-bordered table-responsive table-hover" style = "font-size: 14px">
              <tr>
                <th style="width: 5%"></th>
                <th style="width: 25%"><%= t("working_tasks.index.content") %></th>
                <th style="width: 20%"><%= t("working_tasks.index.started_at") %></th>
                <th style="width: 20%"><%= t("working_tasks.index.ended_at") %></th>
                <th style="width: 20%"><%= t("working_tasks.index.working_time") %></th>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
              </tr>
              <% @working_tasks.each do |working_task| %>
                <tr style = "height: 75px">
                  <td><%= attachment_image_tag working_task.task, :icon_image, :fill, 50, 50, resize: "50×50", format: "png" if !(working_task.task.icon_image_id == nil) %></td>
                  <td><%= working_task.task.content %></td>
                  <td><%= working_task.started_at.strftime('%H:%M:%S') %></td>
                  <td>
                    <%= working_task.stopped_at.strftime('%H:%M:%S') %>
                    <!--終了時間が@dateと同じ日付でない日の場合、日付を別途表示-->
                    <p class = "my-0" style= "font-size: 6px"><%= "（#{working_task.stopped_at.strftime('%Y/%m/%d')}）" if working_task.stopped_at.to_date != @date %></p>
                  </td>
                  <td>
                    <%= working_task.int_to_time(working_task.working_time.floor) %>
                  </td>
                  <td>
                    <%= link_to edit_user_working_task_path(@user, working_task) do %>
                      <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i></button>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_working_task_path(@user,working_task), method: :delete, data: { confirm: t("confirm.delete") } do %>
                      <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

