<div class = "container bg-light my-2 py-3">
  <div class = "row">
    <div class = "col-12">
      <h2><%= @date %>の記録済みタスク一覧</h2>
    </div>
  </div>
  <div class = "row">
    <div class = "col-11 mx-auto">
      <p class = "d-inline-block">登録タグ: </p>
      <% if @events.present? %>
        <!--タグの名前だけ取り出し、1つずつ表示-->
        <% @events.pluck(:name).each do |name| %>
          <p class = "d-inline-block mx-2"><i class="fas fa-tag"></i><%="#{name}"%></p>
        <% end %>
      <% else %>
        <p class = "d-inline-block mx-4">なし</p>
      <% end %>
      <div class = "row">
        <div class = "col-11 mx-auto">
          <% if @working_tasks.blank? %>
            <p class = "text-secondary text-center my-5">タスクはありません</p>
          <% else %>
            <table class = "table table-bordered table-hover" style = "font-size: 14px">
              <tr>
                <th style="width: 5%"></th>
                <th style="width: 25%">タスク内容</th>
                <th style="width: 20%">開始時刻</th>
                <th style="width: 20%">終了時刻</th>
                <th style="width: 20%">経過時間</th>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
              </tr>
              <% @working_tasks.each do |working_task| %>
                <tr style = "height: 75px">
                  <td><%= attachment_image_tag working_task.task, :icon_image, :fill, 50, 50, resize: "50×50", format: "png" if !(working_task.task.icon_image_id == nil) %></td>
                  <td><%= working_task.task.content %></td>
                  <td><%= working_task.started_at.strftime('%H:%M:%S') %></td>
                  <td>
                    <%= working_task.stopped_at.strftime('%H:%M:%S') %>
                    <!--終了時間が@dateと同じ日付でない日の場合、日付を別途表示-->
                    <p class = "my-0" style= "font-size: 6px"><%= "（#{working_task.stopped_at.strftime('%Y/%m/%d')}）" if working_task.stopped_at.to_date != @date %></p>
                  </td>
                  <td>
                    <%= Time.at(working_task.working_time.floor).strftime('%X') %>
                  </td>
                  <td>
                    <%= link_to edit_user_working_task_path(@user, working_task) do %>
                      <button type="button" class="btn btn-primary"><i class="fas fa-wrench"></i></button>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_working_task_path(@user,working_task), method: :delete, data: { confirm: "削除しますか？" } do %>
                      <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

