<div class = "container bg-light my-3 py-5">
  <div class = "row mb-4">
    <h2 class = "d-inline-block text-center w-75 mx-auto border-bottom border-dark"><%= t("homes.about.heading") %></h2>
  </div>
  <!--1つ目-->
  <div class = "row px-3 mb-3">
    <div class = "col-md-5 mb-3">
      <%= image_tag asset_path("about_calendar.png", alt: "calendar"), class: "d-block mx-auto w-50" %>
    </div>
    <div class = "col-md-7 mb-3">
      <h4 class = "font-weight-bold"><%= t("homes.about.feature1-heading") %></h4>
      <p style ="line-height:2rem;">
        <%= t("homes.about.feature1-1") %></br>
        <%= t("homes.about.feature1-2") %></br>
      </p>
    </div>
  </div>
  <!--2つ目-->
  <div class = "row px-3 mb-3">
    <!--通常時=>非表示、レスポンシブ時=>表示　only_for_resp-->
    <div class = "only_for_responsive col-md-5 mb-3">
      <%= image_tag asset_path("about_graphs.png", alt: "graphs"), class: "d-block mx-auto w-50" %>
    </div>
    <div class = "col-md-7 mb-3">
      <h4 class = "font-weight-bold"><%= t("homes.about.feature2-heading") %></h4>
      <p style ="line-height:2rem;">
        <%= t("homes.about.feature2-1") %></br>
        <%= t("homes.about.feature2-2") %></br>
      </p>
    </div>
    <!--通常時=>表示、レスポンシブ時=>非表示　none_for_responsive-->
    <div class = "none_for_responsive col-md-5 mb-3">
      <%= image_tag asset_path("about_graphs.png", alt: "graphs"), class: "d-block mx-auto w-50" %>
    </div>
  </div>
  <!--3つ目-->
  <div class = "row px-3 mb-3">
    <div class = "col-md-5 mb-3">
      <%= image_tag asset_path("about_variety.png", alt: "variety"), class: "d-block mx-auto w-50" %>
    </div>
    <div class = "col-md-7 mb-3">
      <h4 class = "font-weight-bold"><%= t("homes.about.feature3-heading") %></h4>
      <p style ="line-height:2rem;">
        <%= t("homes.about.feature3-1") %></br>
        <%= t("homes.about.feature3-2") %></br>
      </p>
    </div>
  </div>
</div>
