<div class = "container bg-light my-3 py-5">
  <div class = "row mb-4">
    <h2 class = "d-inline-block text-center w-75 mx-auto border-bottom border-dark"><%= t("homes.how_to_use.heading") %></h2>
  </div>
  <!--ページ内ジャンプ-->
  <div class = "row mb-4 contents-box">
    <div class = "col-md-4">
      <h5 class = "text-center m-2"><a href = "#step1"><i class="fas fa-pencil-alt"></i><%= t("homes.how_to_use.use1-heading") %></a></h5>
    </div>
    <div class = "col-md-4">
      <h5 class = "text-center m-2"><a href = "#step2"><i class="far fa-calendar"></i><%= t("homes.how_to_use.use2-heading") %></a></h5>
    </div>
    <div class = "col-md-4">
      <h5 class = "text-center m-2"><a href = "#step3"><i class="far fa-chart-bar"></i><%= t("homes.how_to_use.use3-heading") %></a></h5>
    </div>
  </div>
  <!--１つ目（記録をする）-->
  <div id = "step1" class = "row my-2">
    <div class = "col-md-12">
      <h3 class = "text-center"><%= t("homes.how_to_use.use1-heading") %></h3>
    </div>
    <div class = "col-md-12 d-flex justify-content-center flex-wrap mb-5">
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use1-1") %></p>
        <%= image_tag asset_path("step1-1.jpg", alt: "step1-1"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use1-2") %></p>
        <%= image_tag asset_path("step1-2.jpg", alt: "step1-2"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use1-3") %></p>
        <%= image_tag asset_path("step1-3.jpg", alt: "step1-3"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use1-4") %></p>
        <div class = "d-flex justify-content-center flex-wrap">
          <%= image_tag asset_path("step1-4.jpg", alt: "step1-4"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step1-5.jpg", alt: "step1-5"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step1-5-1.jpg", alt: "step1-5-1"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
        </div>
      </div>
    </div>
  </div>
  <!--２つ目（カレンダーを使う）-->
  <div id = "step2" class = "row my-2">
    <div class = "col-md-12">
      <h3 class = "text-center"><%= t("homes.how_to_use.use2-heading") %></h3>
    </div>
    <div class = "col-md-12 d-flex justify-content-center flex-wrap mb-5">
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use2-1") %>。</p>
        <div class = "d-flex justify-content-center flex-wrap">
          <%= image_tag asset_path("step2-1.jpg", alt: "step2-1"), class: "d-block my-1 border border-dark mx-2", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step2-2.jpg", alt: "step2-2"), class: "d-block my-1 border border-dark mx-2", style: "width: 400px; height: 250px; max-width: 100%;" %>
        </div>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use2-2") % {use3: t("homes.how_to_use.use3-heading") } %> </p>
        <div class = "d-flex justify-content-center flex-wrap">
          <%= image_tag asset_path("step2-3.jpg", alt: "step2-3"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step2-4.jpg", alt: "step2-4"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
        </div>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use2-3") %></p>
        <div class = "d-flex justify-content-center flex-wrap">
          <%= image_tag asset_path("step2-5.jpg", alt: "step2-5"), class: "d-block my-1 border border-dark mx-auto", style: "width: 400px; height: 250px; max-width: 100%;" %>
          <div class = "ml-5"  style = "width: 300px">
            <p><div class = "d-inline-block task_amount_0" style = "width: 10%; height: 12px;"></div>・・・<%= t("homes.how_to_use.time0") %></p>
            <p><div class = "d-inline-block task_amount_1" style = "width: 10%; height: 12px;"></div>・・・<%= t("homes.how_to_use.time1") %></p>
            <p><div class = "d-inline-block task_amount_2" style = "width: 10%; height: 12px;"></div>・・・<%= t("homes.how_to_use.time2") %></p>
            <p><div class = "d-inline-block task_amount_3" style = "width: 10%; height: 12px;"></div>・・・<%= t("homes.how_to_use.time3") %></p>
            <p><div class = "d-inline-block task_amount_4" style = "width: 10%; height: 12px;"></div>・・・<%= t("homes.how_to_use.time4") %></p>
            <p><div class = "d-inline-block task_amount_5" style = "width: 10%; height: 12px;"></div>・・・<%= t("homes.how_to_use.time5") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--３つ目（グラフ）-->
  <div id = "step3" class = "row my-2">
    <div class = "col-md-12">
      <h3 class = "text-center"><%= t("homes.how_to_use.use3-heading") %></h3>
    </div>
    <div class = "col-md-12 d-flex justify-content-center flex-wrap mb-5">
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use3-1") %></p>
        <%= image_tag asset_path("step3-1.jpg", alt: "step3-1"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use3-2") %></p>
        <div class = "d-flex justify-content-center flex-wrap">
          <%= image_tag asset_path("step3-2.jpg", alt: "step3-2"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step3-3.jpg", alt: "step3-3"), class: "d-block my-1 border border-dark mx-auto", style: "width: 300px; height: 250px; max-width: 100%;" %>
        </div>
      </div>
      <div class = "step d-inline-block m-2" style = "font-size: 14px">
        <p><%= t("homes.how_to_use.use3-3") %></p>
        <p style = "font-size: 13.8px"><%= t("homes.how_to_use.use3-4") %></p>
        <div class = "d-flex justify-content-center flex-wrap">
          <%= image_tag asset_path("step3-4.jpg", alt: "step3-4"), class: "d-block my-1 border border-dark mx-2", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step3-5.jpg", alt: "step3-5"), class: "d-block my-1 border border-dark mx-2", style: "width: 300px; height: 250px; max-width: 100%;" %>
          <%= image_tag asset_path("step3-6.jpg", alt: "step3-6"), class: "d-block my-1 border border-dark mx-2", style: "width: 300px; height: 250px; max-width: 100%;" %>
        </div>
      </div>
    </div>
  </div>
</div>
