<div class = "container bg-light my-2 py-3" style = "min-height: 525px">
  <div class = "row">
    <div class = "col-12">
      <h2>検索結果</h2>
    </div>
  </div>
  <!--検索結果-->
  <div class = "row">
    <div class = "col-11 mx-auto">
      <p><%= t("searches.result.date_range") %><%= "#{l(@date_range_start)} ～ #{l(@date_range_end)}" %></p>
      <p><%= t("searches.result.event_name") %><%= @events.present? ? ("#{@events.pluck(:name).first}") : (t("searches.result.nothing")) %></p>
      <p><%= t("searches.result.task_content") %><%= @task. present? ? ("#{@task.content}") : (t("searches.result.nothing"))%></p>
    </div>
  </div>
  <!--タスク一覧表-->
  <div class = "row">
    <div class = "col-11 mx-auto">
      <% if @searched_working_tasks.exists? %>
        <p class = "text-center mb-0" style = "font-size: 14px"><%= t("searches.result.note_for_graph") %></p>
          <% if @search_type == 1 %>
            <canvas id="myBarChart" width="700" height="550"></canvas>
            <script>draw_graph_bar();</script>
          <% elsif @search_type == 2 %>
            <canvas id="myBarChart" width="700" height="550"></canvas>
            <script>draw_graph_bar();</script>
          <% elsif @search_type == 3 %>
            <canvas id="mylineChart" width="700" height="550"></canvas>
            <script>draw_graph_line();</script>
          <% end %>
      <% else %>
        <p class = "text-secondary"><%= t("searches.result.no_result") %></p>
      <% end %>
    </div>
  </div>
</div>

