<!DOCTYPE html>
<html>
  <head>
    <title>Optick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <header class = "bg-success">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <%= link_to root_path, class:"navbar-brand text-dark" do %>
            <img class="navbar-brand" src="/assets/logo.PNG" alt="logo" style = "height: 55px">
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <div class="d-flex align-items-center mr-5"><b>ようこそ、<%= current_user.name %>さん！</b></div>
                <li class = "d-flex align-items-center"><%= link_to 'Mypage', user_path(current_user.id), class:"nav-link text-dark font-weight-bold mr-3 mb-1"%></li>
                <li class = "d-flex align-items-center"><%= link_to "About", about_path, class:"nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "logout", destroy_user_session_path, method: :delete, class:"nav-link text-dark font-weight-bold mb-1" %></li>
              <% else %>
                <li class = "d-flex align-items-center"><%= link_to 'Home', root_path, class:" nav-link text-dark font-weight-bold mr-3 mb-1"%></li>
                <li class = "d-flex align-items-center"><%= link_to "About", about_path, class:"nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "login", new_user_session_path, class:"nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "Start Time Management", new_user_registration_path, class:"nav-link btn btn-info text-light font-weight-bold rounded-pill p-3 mb-1" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--メイン-->
    <main>
      <%= yield %>
    </main>
    <!--フッター-->
    <footer class = "bg-success">
      <div class = "container pt-3 pb-5" style = "z-index: 1;">
        <div class = "row">
          <!--更新履歴表-->
          <div class = "col-9">
            <h5 class = "border-bottom border-success font-weight-bold">更新履歴</h5>
            <div class = "border-start border-dark">
              <table>
                <tr>
                  <td>2022年1月10日</td>
                  <td>製作中</td>
                </tr>
              </table>
            </div>
          </div>
          <!--時計アイコン（透過・回転）-->
          <div class = "col-3 position-relative">
            <img class="d-inline-block w-25" style = "position: absolute; bottom:-1.7rem; right: 4rem; opacity: 0.6;"  src="/assets/footer_icon.png" alt="icon">
          </div>
        </div>
      </div>
      <div class = "row bg-dark" style = "">
        <p class = "mx-auto text-white">© 2022 oyama</p>
      </div>
    </footer>
  </body>
</html>
