<!DOCTYPE html>
<html>
  <head>
    <title>Optick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--ビューポート読み込み-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--chart.jsのグラフの色を自動で設定してくれるプラグイン-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript" src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js"></script>
  </head>

  <body>
    <!--ヘッダー-->
    <header class = "bg-success w-100">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <%= link_to root_path, class:"navbar-brand text-dark" do %>
            <%= image_tag asset_path("logo.PNG", alt: "logo"), class: "navbar-brand", style: "height: 55px" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <div class="d-flex align-items-center mr-5"><b>ようこそ、<%= current_user.name %>さん！</b></div>
                <li class = "d-flex align-items-center"><%= link_to 'Mypage', user_path(current_user.id), class:"nav-link text-dark font-weight-bold mr-3 mb-1"%></li>
                <li class = "d-flex align-items-center"><%= link_to "About", about_path, class:"nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "HowToUse", how_to_use_path, class: "nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "logout", destroy_user_session_path, method: :delete, class:"nav-link text-dark font-weight-bold mb-1" %></li>
              <% else %>
                <li class = "d-flex align-items-center"><%= link_to 'Home', root_path, class:" nav-link text-dark font-weight-bold mr-3 mb-1"%></li>
                <li class = "d-flex align-items-center"><%= link_to "About", about_path, class:"nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "HowToUse", how_to_use_path, class: "nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "login", new_user_session_path, class:"nav-link text-dark font-weight-bold mr-3 mb-1" %></li>
                <li class = "d-flex align-items-center"><%= link_to "Start Time Management", new_user_registration_path, class:"nav-link btn btn-info text-light font-weight-bold rounded-pill p-3 mb-1" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--メイン-->
    <main>
      <%= yield %>
    </main>
    <!--フッター-->
    <footer class = "bg-success w-100">
      <div class = "container pt-3 pb-5" style = "z-index: 1;">
        <div class = "row">
          <!--更新履歴表-->
          <div class = "col-9">
            <h5 class = "border-bottom border-success font-weight-bold">更新履歴</h5>
            <div class = "border-start border-dark">
              <table>
                <tr>
                  <td>2022年1月10日</td>
                  <td>製作中</td>
                </tr>
                <tr>
                  <td>2022年1月20日</td>
                  <td>90%完成</td>
                </tr>
              </table>
            </div>
          </div>
          <!--時計アイコン（透過・回転）-->
          <div class = "col-3 position-relative">
            <%= image_tag asset_path("footer_icon.png", alt: "icon"), class: "d-inline-block", style: "width: 110px; position: absolute; bottom:-1.7rem; right: 1rem; opacity: 0.4;" %>
          </div>
        </div>
      </div>
      <div class = "bg-dark">
        <p class = "py-1 mb-0 text-center text-white">© 2022 oyama</p>
      </div>
    </footer>
  </body>
</html>
